<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    <!-- awesome fonts -->
    <script src="https://kit.fontawesome.com/c3abce34d0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="frontend/styles/home.css">
    <script src="frontend/scripts/homescript.js"></script>
    <title>Fitness Center</title>
</head>

<body onload="showButton('<%= data %>');">

    <nav id="home" class="navbar fixed-top navbar-expand-lg" >
        
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="#">
                <h2>Fitness <span>Center</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-3"></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#main">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">
                            Pricing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="#about">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="#about">About Us</a>
                    </li>

                    <li id="log" class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="login.html">Login</a>
                    </li>
                    
                    <li id="sign" class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="signup.html">Sign Up</a>
                    </li>

                    <li id="join" class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="frontend/views/registration.html">JOIN US</a>
                    </li>

                    <li id="logout" class="nav-item">
                        <a class="nav-link" aria-disabled="true" href="logout.html">LOGOUT</a>
                    </li>

                </ul>
                
            </div>
        </div>
    </nav>
    <!-- ############################ main-section ################-->

    <section id="main" class="main py-5">
        <div class="container text-white py-5">
            <div class="row py-3">
                <div class="col-lg-10">
                    
                    <h1 class="m-0">BE STRONG <br>
                        <span>TRAIN HARD </span> <br>
                        WITH US
                    </h1>

                </div>
            </div>
        </div>
    </section>

    <!-- ######### services  ################## -->
    
    <div id="services" class="services py-5">
        <div class="container py-5 text-center">
    
            <h1>OUR SERVICES</h1>
            <div class="row py-5">
                <div class="col-lg-4">
                    <div class="card back border-0 p-3">
                        <div class="card-body">
                            <span><i class="fa-solid fa-dumbbell"></i></span>
                            <h5 class="py-3">Personal Training</h5>
                            <p>Our certified trainers provide one-on-one sessions tailored to your fitness goals, ensuring a personalized workout plan and motivation to achieve results.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card back border-0 p-3">
                        <div class="card-body">
                            <span><i class="fa-solid fa-people-group"></i></span>
                            <h5 class="py-3">Group Fitness Classes</h5>
                            <p>Join our dynamic group fitness classes, including yoga, HIIT, spin, and more. Get energized with like-minded individuals and reach your fitness milestones together.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card back border-0 p-3">
                        <div class="card-body">
                            <span><i class="fa-solid fa-bowl-food"></i></span>
                            <h5 class="py-3">Nutritional Guidance</h5>
                            <p>Our experts offer personalized nutritional plans to complement your workouts, helping you maintain a balanced diet and reach your fitness objectives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="row py-5">
                <div class="col-lg-4">
                    <div class="card back border-0 p-3">
                        <div class="card-body">
                            <span><i class="fa-solid fa-person-biking"></i></span>
                            <h5 class="py-3">State-of-the-Art Equipment</h5>
                            <p>Access top-notch gym equipment, including cardio machines, free weights, and resistance training, to optimize your workouts and target specific muscle groups.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card back border-0 p-3">
                        <div class="card-body">
                            <span><i class="fa-solid fa-spa"></i></span>
                            <h5 class="py-3">Recovery & Wellness</h5>
                            <p>Enhance your well-being with our recovery services, such as massages and stretching sessions, designed to reduce muscle tension and promote relaxation.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4">
                    <div class="card back border-0 p-3">
                        <div class="card-body">
                            <span><i class="fa-solid fa-gears"></i></i></span>
                            <h5 class="py-3">Specialized Programs</h5>
                            <p>We offer specialized fitness programs for various goals, including weight loss, muscle building, and sports-specific training, ensuring we cater to your unique needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   


    <!-- ######### section more  ################## -->

    <div class="section more py-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-6 mb-3">
                    <img src="frontend/assets/cycle.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                    <h2 class="pb-3">WE'VE SKILL IN <br>
                        WIDE <span>RANGE OF FITNESS</span> AND <br>
                        OTHER BODY HEALTH FACILITY
                    </h2>
                    <p style="font-size:x-large;">Our team of dedicated fitness professionals boasts unparalleled skill and experience. We're not just trainers; we're your partners in achieving your fitness and health goals. Whether you're a fitness enthusiast or just starting your journey towards a healthier lifestyle, we have something for everyone.</p>
                </div>
            </div>
        </div>
    </div>



    <!-- ######### discover  ################## -->

    <div id="pricing" class="discover py-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-8 m-auto text-white text-center">
                    <p>DISCOVER YOUR POTENTIAL</p>
                    <h1>TAKE SUBSCRIPTION NOW AND GET <br> <span>25% </span>DISCOUNT</h1>
                </div>

            </div>
        </div>
    </div>

    <!-- ################# details  ################## -->
    <div  class="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h4>Personal Training</h4>

                            <h6>One-on-One Sessions</h6>

                            <p>Our certified trainers are here to give you personalized attention and guidance. Whether you're new to fitness or a seasoned athlete, our trainers will create a workout plan tailored to your goals.
                                <br> <br>
                                Single Session: 250
                                <br>
                                5 Sessions Package: 1100
                                <br>
                                10 Sessions Package: 2200
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h4>Group Fitness Classes</h4>
                            <h6>Energize and Motivate Together</h6>

                            <p>Join our vibrant group fitness classes and workout with a community of like-minded individuals. From yoga to high-intensity interval training (HIIT), we offer a variety of classes to keep you motivated.

                                <br> <br>
                                Single Class Drop-In: 200
                                <br>
                                Monthly Unlimited Classes: 4000
                                <br>
                                Annual Unlimited Classes: 40000
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h4>Nutritional Guidance</h4>
                            <h6>Complement Your Workouts</h6>

                            <p>Achieve optimal results by combining fitness with proper nutrition. Our experts will create a personalized nutritional plan to help you maintain a balanced diet and reach your fitness objectives.
                                <br> <br>
                                Nutritional Consultation: 500
                                <br>
                                3 Months Nutritional Plan: 12000
                                <br>
                                6 Months Nutritional Plan: 23000
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h4>State-of-the-Art Equipment</h4>
                    
                            <h6>Access Premium Gym Equipment</h6>

                            <p>Our gym is equipped with top-notch cardio machines, free weights, and resistance training equipment. Take advantage of our facilities to optimize your workouts and target specific muscle groups.
                                <br> <br>
                                Monthly Gym Access: 3000
                                <br>
                                Annual Gym Access: 30000
    
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h4>Recovery & Wellness</h4>
                            <h6>Enhance Your Well-being</h6>

                            <p>Invest in your recovery and overall well-being with our specialized services, including massages and stretching sessions. These services are designed to reduce muscle tension and promote relaxation.
                                <br> <br>
                                30-Minute Massage: 600
                                <br>
                                60-Minute Massage: 1200
                                <br>
                                Stretching Session: 1000
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 mb-2">
                    <div class="card back border-0 py-5 px-3">
                        <div class="card-body">
                            <h4>Specialized Programs</h4>
                            <h6>Catering to Your Unique Needs</h6>

                            <p>Whether you're looking to lose weight, build muscle, or improve your sports performance, our specialized fitness programs are designed to meet your unique goals.
                                <br> <br>
                                Customized Program: Prices Vary (Contact us for a personalized quote)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <!-- #####################  footer  ##################### -->

    <div id="about" class="footer">
        <div class="container py-4">
            <div class="row py-5">
                <div class="col-lg-4">
                    <h4>Fitness Center</h4>
                    <p class="py-4">
                        Welcome to Fitness center, your path to a stronger, healthier you. Join our community today for expert guidance,
                        top-notch facilities, and a supportive environment. Let's achieve your fitness goals together!
                    </p>


                    <span class="social"><i class="fa-brands fa-facebook"></i></span>
                    <span class="social"><i class="fa-brands fa-twitter"></i></span>
                    <span class="social"><i class="fa-brands fa-instagram"></i></span>
                    <span class="social"><i class="fa-brands fa-linkedin"></i></span>
                </div>
                <div class="col-lg-1"></div>
                

                <div class="col-lg-4">
                    <h5 class="pb-4">LOCATION</h5>
                    <p>Thapar University,near H-hostel,<br> patiala, 147004.</p>
                    <p class="link pt-4">+91787-653675</p>
                    <p class="link">fitnesscenter@gmail.com</p>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card text-center py-2">
                            <p>Copyright © 2023 Fitness center. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>